header{
    width: 100%;
    height: 124px;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 100;
}
header>div,header>nav{
    padding: 0px 100px 0px;
}
body,section,div,ul,li,a,p,h1,h2{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 18px;
}
/* tag h-top樣式 */
.h-top{
    /* 背景框 */
    background-color: black;
    text-align: right;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    height:40px;
}
.h-top a{
    /* 文字格式 */
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    line-height: 35px;
    padding: 0 10px;
    margin-left: 20px;
    
}
.h-top a:hover {
    /* 文字格式-點到變藍色 */
    color: blue;
} 
.h-top i{
    /* 超連結圖案變色 */
    color:white;
}
/* h-content樣式 */
.h-content{
/* 背景框 */
    height: 84px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 12px 0 rgba(36,50,66,0.075);
}
.h-content nav {
    text-align: left;
}
.h-content li a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.h-content  li a:hover {
    color: #0061FF;
}
.h-content ul{
    list-style:none;
    width:100%;
    height: inherit;
    padding-left: 65px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.h-content li{
    height:inherit;
    margin: 0 10px 0;
    display:flex;
    align-items:center;
    position: relative;
}
.h-content-btn{
    min-width: 120px;
    margin: 0;
    padding: 12px 17px 12px;
    background-color: #0061FF;
    color:#fff;
    border-radius: 30px;
    text-align: center;
}
.h-content-btn:hover{
    background-color:#0747A6;
}
/* main screen樣式 */
.main-screen-box{
    background: no-repeat center/auto 100%;
    background-color: #001535;
    color:white;
    background-size:100% 100%;
    width: 100%;
    height: 700px;
    margin-top: 124px;
    padding: 0px 100px 0px;
    font-weight:bolder;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main-screen-box>div{
    width: 50%;
}
.main-screen-text{
    padding-right: 20px;
}
.main-screen-text h1,.main-screen-text h1+p{
    margin-bottom:20px;
}
.text-H1{
    color:#00C66A;
}
.input-email{
    width: 350px;
    padding-left: 0;
    background: unset;
    border: 1px solid #fff;
    border-width: 0 0 1px;
    border-radius: 0;
    color: #fff;
    font-size: 1.1rem;
}
.mail-btn{
    min-width: 120px;
    color:#fff;
    background-color: #0061FF;
    border-radius: 30px;
    margin: 0 0 0 20px;
    padding: 8px 17px 8px;
    border:none;
    font-size: 5px;
}
.main-screen-img img{
    width: 100%;
    height:auto;
}

/* 統一幫字體換造型 */
a{
    text-decoration: none;
}
h1,h2{
    font-weight:bolder;
    line-height: 1.5;
}
h1{
    font-size:3rem;
}
h2{
    font-size:2rem;
    line-height:1.8;
    margin-bottom: 20px;
}
p{
    font-size:1.2rem;
    line-height:1.8;
    margin-bottom: 20px;
}

/* tag intro樣式 */
.intro{
    padding: 100px 200px 0px;
} 
.intro-title{
    margin-bottom:120px;
    display:flex;
    flex-flow:column;
    justify-content: center;
    text-align: center;
}
.intro-box{
    margin-bottom:100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #E0E5E9;
    display:flex;
}
.intro-box-img img{
    width: 100%;
    height: auto;
}
.intro-box-text,.intro-box-img{
    width: 50%;
}
.intro-box ul{
    list-style: none;
    display:flex;
    margin-bottom: 15px;
    flex-flow:row wrap;
}
.intro-box li{
    width: 50%;
    margin-bottom: 5px;
    font-weight: 500;
}
.intro-box:last-of-type{
    margin-bottom: 0px;
}
.intro-box:nth-child(2n+1){
    /* 讓圖片文字位子相反 */
    flex-direction: row-reverse;
}
.intro-box:last-of-type{
    margin-bottom: 0px;
}

/*  更多功能與服務   */
.mores{
    background-color:rgb(244, 245, 247);
    padding:75px 50px 25px;
}
.mores h2{
    margin-bottom:50px;
    text-align: center;
}
.mores h3{
    font-size: 25px;
    text-align:center;
    margin-bottom: 5px;
    font-weight: 400;
}
.mores p{
    text-align:center;
    margin-bottom: 5px;
}
.mores ul{
    list-style: none;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    margin-bottom:16px;
}
.mores li{
    width: 300px;
    margin:0px 60px 60px;
    text-align:center;
}
.mores-box{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto 30px;
    box-shadow: 0 0 12px rgb(36 50 66 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mores-box img{
    width: 60%;
    height: auto;
}

/* shop商店樣式 */
.shop{
    padding: 70px 130px;
}
.shop h2{
    text-align: center;
    margin-bottom:20px;
}
.shop h2>span{
    color:#0061FF;
}
.shop ul{
    list-style: none;
    border-bottom: 1px solid grey;
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:20px;
}
.shop li{
    width:calc(100% / 5);
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: 3px solid transparent;
}
.shop li:hover,.shop li.click{
    border-color: #0061FF;
}
.shop li img{
    width:auto;
    height: 80px;
}
.showcase-content{
    display:flex;
    margin-bottom:30px;
}
.showcase-content span{
    position: absolute;
    bottom:0px;
    left: 0px;
}
.content-text p{
    margin-top:30px;
}

/* footer樣式 */
footer>div{
    padding:50px 130px 0px;
}
.footer-map{
    height:350px;
    background: url("img/bg2.png") 
    no-repeat -250px -85px/auto 360px #172B4D;
    position: relative;
}
.footer-map h2{
    color: #fff;
    margin-bottom:40px;
}
.footer-map img{
    position:absolute;
    right: 0px;
    bottom: 0px;
}
.footer-map a{
    color: #fff;
    min-width: 100%;
    background-color: #0061FF;
    border-radius: 30px;
    padding: 15px 60px 15px 120px;
    position: relative;
}
.footer-map a i{
   padding-left:50px;
}
.footer-list{
    background-color: #00142D;
    position: relative;
}
.footer-list>div{
    position: relative;
    padding-bottom: 80px;
}
.footer-list hr{
    border: 1px solid #1764e9;
    margin-top: 40px;
    margin-bottom:40px;
}
.footer-list h3{
    font-size: 1.1em;
    margin-bottom: 40px;
    color: #fff;
}
.footer-list ul{
    list-style: none;
    padding: 0;
}
.footer-list li{
    margin-bottom: 15px;
}
.footer-list li a{
    color: rgba(255,255,255,0.4);
    margin-bottom: 8px;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
}
.covid-19{
    display: inline-block;
    width: 225px;
    text-align: center;
    background-color: rgb(219, 248, 237);
    padding: 5px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.covid-19 a{
    color: rgb(0, 0, 0);
}
#footer-bottom{
    padding-bottom: 30px;
    display:flex;
    justify-content:space-between;
}
#footer-bottom ul{
    display:flex;
}
#footer-bottom li a{
    color: #fff;
    padding: 0px 10px 0px;
}
#footer-bottom li:not(:first-child) a{
    border-left: 1px #fff solid;
}
.button-group{
    display: flex;
}
.button-group a{
    width: 40px;
    height: 40px;
    background-color:#172B4D;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    margin: 0px 15px 0px;
    color: #fff;
}
.button-group+div{
    color: rgba(255,255,255,0.4);
}

