@media screen and (max-width:991px) {
    .h-top {
        display: none;
    }

    .h-logo {
        width: 130px;
    }

    .h-logo img {
        width: 100%;
    }

    .h-menu {
        justify-content: space-between;
        padding: 15px 6.25%;
    }

    .menu-customer-service {
        width: 100%;
        position: absolute;
        top: 100%;
        right: 0%;
        background-color: rgb(237, 233, 233);
        display: none;
    }

    .menu-nav ul li {
        border-bottom: 1px solid black;
        margin: 0 5%;
    }

    .menu-nav a {
        display: block;
        padding: 20px 0px 20px 0px;
    }

    .menu-button {
        padding: 30px 0px 70px 0px;
        text-align: center;
    }

    .btn-free {
        width: 90%;
        aspect-ratio: 700/60;
        margin-bottom: 25px;
        border-radius: 50px;
        background-color: #0747a6;
        color: white;
    }

    .btn-login {
        width: 90%;
        aspect-ratio: 700/60;
        display: inline-block;
        border-radius: 50px;
        background-color: white;
        color: #0747a6;
    }

    .menu-phone {
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00142d;
        padding: 15px 0px;
    }

    .menu-phone a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    .hb {
        width: 15px;
    }

}

@media screen and (max-width:767px) {
    .main-screen-box {
        flex-direction: column-reverse;
        margin-top: 40px;
    }

    .sample-advertise {
        font-size: 30px;
        text-align: center;
    }

    .sample-button {
        padding-top: 20px;
    }

    .sample-button input {
        width: 100%;
        padding-bottom: 10px;
    }

    .sample-button button {
        margin-top: 15px;
        width: 100%;
        aspect-ratio: 380/45;
    }

    .intro-title h2 {
        font-size: 30px;
    }

    .intro-title p {
        margin-top: 25px;
        font-size: 18px;
        text-indent: 15px;
    }

    .intro-box {
        margin-top: 30px;
    }

    .intro-box-img img {
        width: 100%;
    }

    .main-test h3 {
        font-size: 30px;
        padding-bottom: 60px;
    }

    .main-test {
        text-align: justify;
        font-size: 17px;
        margin-top: 20px;
    }

    .main-test ul {
        margin-top: 20px;
        display: block;
    }

    .main-test ul li {
        margin-bottom: 10px;
        width: 100%;
    }

    .main-test a {
        margin: 40px 0px;
    }

    /* 從這裡開始實驗123 */

    

    .case-introduce {
        padding-top: 40px;
    }

    .case-title {
        margin-bottom: 40px;
        text-align: left;
    }

    .case-introduce-picture {
        display: none;
    }

    .click {
        display: none;
    }

    .case-data {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .case-data-test {
        width: 100%;
    }

    .case-data-test a {
        padding: 10px 0px;
    }

    .case-data-test p {
        padding: 10px 0px;
    }

    .case-data-picture {
        width: 100%;

    }

    .worldwide-bar {
        aspect-ratio: 425/626;
    }

    .worldwide {
        padding-top: 80px;
        line-height: 60px;
    }

    .worldwide-btn {
        margin-top: 40px;
        width: 87.5%;
        aspect-ratio: 360/46.2;
    }

    .severse_alone_list h4 {
        font-size: 17px;
        font-weight: 600;
        padding: 20px 0px;
    }

    .list-title {
        margin-bottom: 40px;
        border-bottom: 1px solid #fff;
    }

    .severse_all_list ul {
        display: none;
        line-height: 40px;
    }

    .severse_alone_list {
        margin-bottom: 20px;
    }

    .severse_alone_list li {
        padding-left: 40px;
    }

    .severse_all_list ul a {
        color: #c0c2c5;
    }

    .control-else-fuction li {
        padding-left: 40px;
    }

    .control-else-fuction a {
        display: block;
    }

    .control-actual a {
        display: block;
    }

    .covid19 {
        width: 52.941176%;
        aspect-ratio: 225/36;
        margin: auto;
    }

    .covid19 a {
        display: inline-block;
        padding: 10px 0px 10px 35px;
        box-sizing: border-box;
    }

    .footer-info {
        flex-direction: column-reverse;
    }

    .terms {
        line-height: 40px;
        text-align: center;
    }

    .icon {
        width: 100%;
        margin-bottom: 40px;
    }

    .icon ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .icon a {
        display: inline-block;
    }

    .severse_times {
        text-align: center;
        padding-bottom: 50px;
    }
}

@media screen and (min-width:768px) {
    .sample-advertise {
        font-size: 35px;
    }

    .main-screen-text p {
        padding-top: 20px;
        line-height: 2;
    }

    .sample-button input {
        width: 50%;
    }

    .sample-button button {
        width: 125px;
        aspect-ratio: 125/40;
        margin: 20px 0px 40px 0px;
    }

    .intro-title h2 {
        font-size: 30px;
    }

    .intro-title p {
        margin-top: 25px;
        font-size: 17px;
        text-align: center;
    }

    .intro-box {
        margin-top: 30px;
    }

    .main-test h3 {
        font-size: 30px;
        padding-bottom: 60px;
    }

    .main-test {
        text-align: justify;
        font-size: 17px;
        margin-top: 20px;
    }

    .main-test ul {
        margin-top: 40px;
    }

    .main-test li {
        margin-bottom: 10px;
    }

    .main-test a {
        margin: 40px 0px 80px 0px;
    }


    .case-introduce {
        padding-top: 40px;
    }

    .case-title {
        margin-bottom: 40px;
        text-align: left;
    }

    .case-introduce-picture {
        display: none;
    }

    .case-data {
        flex-direction: column-reverse;
    }

    .click {
        display: none;
    }

    .case-data-test {
        width: 100%;
    }

    .case-data-test a {
        padding: 10px 0px;
    }

    .case-data-test p {
        padding: 10px 0px;
    }

    .case-data-picture {
        width: 100%;
        margin-top: 30px;
    }

    .worldwide {
        padding-top: 20px;
        line-height: 60px;
    }

    .worldwide p {
        width: 40%;
        font-size: 35px;
        font-weight: 700;
    }

    .worldwide-btn {
        margin: 40px 0px;
        width: 50%;
        aspect-ratio: 298/46.2;
    }

    .severse_alone_list h4 {
        font-size: 17px;
        font-weight: 600;
        padding: 20px 0px;
    }

    .list-title {
        margin-bottom: 40px;
        border-bottom: 1px solid #fff;
    }

    .severse_all_list ul {
        display: none;
        line-height: 40px;
    }

    .severse_alone_list {
        margin-bottom: 20px;
    }

    .severse_alone_list li {
        padding-left: 40px;
    }

    .severse_all_list ul a {
        color: #c0c2c5;
    }

    .control-else-fuction li {
        padding-left: 40px;
    }

    .control-else-fuction a {
        display: block;
    }

    .control-actual a {
        display: block;
    }

    .covid19 {
        width: 30%;
        aspect-ratio: 225/36;
    }

    .covid19 a {

        padding: 10px 0px 10px 35px;
        box-sizing: border-box;
    }

    .footer-info {
        flex-direction: column-reverse;
        width: 40%;
    }

    .terms {
        width: 100%;
        margin-left: 0;
    }

    .terms ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .terms ul li {
        width: 33%;
    }

    .icon {
        width: 100%;
        margin: 40px 0px;
    }

    .icon ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .icon a {
        display: inline-block;
    }

    .severse_times {
        width: 40%;
        text-align: left;
        padding: 20px 0px 100px 0px;
    }
}

@media screen and (min-width:992px) {
    .h-top {
        padding: 10px 90px 10px 0px;
    }

    .globe {
        padding-right: 10px;
    }

    .customer-service {
        display: flex;
    }

    .customer-service a {
        margin: 0px 10px;
        display: inline-block;
        font-size: 15px;
    }

    .h-menu {
        padding: 20px 6.25%;
        align-items: center;
    }

    .h-logo {
        margin: auto;
    }

    .h-logo img {
        width: 100%;
        max-width: 150px;
        ;
    }

    .menu-customer-service {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    .menu-nav ul {
        display: flex;
    }

    .menu-nav ul li {
        padding: 10px 10px;
    }

    .hb {
        display: none;
    }

    .main-screen-box {
        display: flex;
        flex-wrap: wrap;
        padding-top: 150px;
    }

    .main-screen-text {
        width: 50%;
        box-sizing: border-box;
    }

    .sample-advertise p {
        padding-top: 32px;
    }

    .main-screen-img {
        width: 50%;
        box-sizing: border-box;
    }

    .sample-button input {
        display: inline-block;
    }

    .intro-title {
        margin-top: 50px;
    }

    .intro-title h2 {
        font-size: 35px;
    }

    .intro-title p {
        width: 50%;
        margin: auto;
    }

    .intro-box {
        display: flex;
        flex-wrap: wrap;
        margin-top: 95px;
    }

    .intro :nth-child(even) {
        flex-direction: row-reverse;
    }

    .intro-box-img {
        padding-top: 20px;
        padding: 20px;
        width: 50%;
        border-bottom: 1px solid black;
        box-sizing: border-box;
    }

    .main-test {
        width: 50%;
    }

    .main-test h3 {
        font-size: 35px;
    }

    .main-test p {
        font-size: 20px;
        line-height: 1.5;
    }

    .case-title {
        text-align: center;
    }


    .click {
        display: flex;
        flex-wrap: wrap;
    }

    .case-data {
        flex-direction: row;
    }

    .case-data-test {
        width: 40%;
        padding-right: 20px;
        box-sizing: border-box;
        line-height: 1.5;
        position: relative;
        box-sizing: border-box;
    }

    .case-data-test p {
        padding-top: 35px;
    }

    .case-data-test span {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .case-data-picture {
        width: 60%;
    }

    .case-data-picture img {
        width: 100%;
    }

    .worldwide-bar {
        padding-top: 100px;
    }

    .worldwide-btn {
        width: 250px;
        margin-top: 50px;
        font-size: 20px;
    }

    .severse_all_list {
        display: flex;
        flex-wrap: wrap;
        background-color: #00142D;
        font-size: 15px;
        line-height: 1.5;
        color: white;
        justify-content: space-around;
    }

    .severse_alone_list {
        width: 9%;
    }

    .severse_all_list :nth-child(1).severse_alone_list {
        width: 12%;
    }

    .severse_all_list :nth-child(5).severse_alone_list {
        width: 12%;
    }

    .severse_all_list :nth-child(6).severse_alone_list {
        width: 25%;
    }

    .severse_all_list :nth-child(7).severse_alone_list {
        width: 17%;
    }

    .list-title {
        border: 0px;
    }

    .severse_alone_list ul {
        margin-top: 30px;
        display: block;
    }

    .severse_alone_list li {
        padding: 0px;
    }

    .severse_alone_list ul a {
        color: gray;
        text-decoration: none;
    }

    .covid19 {
        width: 25%;
        margin-left: 75%;
        aspect-ratio: 225/35.6;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .covid19 a {
        padding: 0;
        font-size: 20px;
    }

    .footer-end {
        display: flex;
        flex-wrap: wrap;

        background-color: #00142D;
        color: white;
    }

    .footer-info {
        width: 66%;
        flex-direction: row;
    }

    .terms {
        margin-top: 0;
    }

    .terms ul {
        display: flex;
        flex-wrap: wrap;

    }

    .terms ul li {
        width: 33%;
        list-style: none;
    }

    .icon {
        margin-top: 0;
    }

    .icon ul {
        display: flex;
        flex-wrap: wrap;

    }

    .icon ul li {
        width: 15%;
        justify-content: space-around;
        list-style: none;
    }

    .icon i {
        font-size: 20px;
    }

    .severse_times {
        width: 34%;
        color: #748094;
        margin-bottom: 0;
        padding: 0;
    }
}