@media screen and (max-width:991px){
    h-top{
        display: none;
    }
    .logo{
        width: 130px;
    }
    .logo img {
        width: 100%;
    }
    .h-content{
        justify-content: space-between;
        padding: 15px 6.25%;
    }
    .h-menu{
        width: 100%;
        position: absolute;
        top: 100%;
        right: 0%;
        background-color: rgb(237, 233, 233);
        display: none;
    }
}