.clearfix::after {
    display: block;
    clear: both;
    content: "";
    background-color:#ECB88A
}

.header .samplecard .footer{
    max-width:  1200px;
    min-width: 430px;
}

.card{
    background-color:#F0E4D4;
    .card-Member .img{
        width: 12.5em;
        height: 12.5em;
    }

    .card-Member-Comment{
        background-color:#D9CD90;
        
    }
    
    .card-Add-Text{
        margin: 0.2em 1em 0.2em;
    }

}
// 分隔線設定
hr.Edit-divider{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
