.card{
    max-width:  1200px;
    background-color:#CDA581 ;
}
.card-Member-Comment{
    background-color:#ceb195;
}
.card-Edit_Member{
    .email-left-box {
        float: right; 
        width: 240px;
        float: left;
        padding: 0 20px 20px 10px;
    }
}
// <!-- 在當前頁面實現預覽效果 -->
.Edit2-PhotoBox{
    img{
        max-width: 100px;
        max-height: 100px;
    }
}
.Edit2-recoPhoto{
    .photo1:hover{
        background-color: #CDA581;
    }
    .photo2:hover{
        background-color: #b0906f;
    }
    .photo3:hover{
        background-color:#c7826b;
    }
    .photo4:hover{
        background-color:#e5a672;
    }
}